* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #ccc;
}
.container {
    max-width: 800px;
    margin:  0 auto;
}

.apply_box {
    max-width: 600px;
    padding: 10px;
    background-color: white;
    margin:  0 auto;
    margin-top:  50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 5%;
    
}
 
.form_control{
    display: flex;
    flex-direction: column;

}
label{
    font-size: 20px;
    margin-botton: 10px;

}
input 
select
textarea{
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius:  4px;
    font-size: 15px;
}

input:focus {
    outline-color: blue;   
}
 
.button_container {
         display: flex;

        justify-content:  flex-end;
         margin-top: 20PX;      
}
button {
    background-color: blue;
    border: transparent solid 10px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}    
button:hover {
    background-color: #ccc;
    border: 2px solid blue;
    transition: 0.3s ease-out;
    cursor: pointer;
}